body {
    background-color: rgb(44, 44, 44);
    align-items: center;
    text-align: center;
    justify-content: center;
}

button {
    font-size: 2rem;
    padding: rem;
    margin: 0rem;
}

button:hover {
    background-color: black;
    color: whitesmoke;
    font-size: 5.3rem;
}